@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600&display=swap');

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    letter-spacing: var(--tracking-normal);
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    background-color: hsl(var(--background));
    color-scheme: dark;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

:root {
  --background: oklch(0.9189 0.005 188.5965);
  --foreground: oklch(0 0 0);
  --card: oklch(0.9189 0.005 188.5965);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(0.9189 0.005 188.5965);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.7288 0.0899 72.3686);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.1803 0.0062 188.5965);
  --secondary-foreground: oklch(0.9189 0 0);
  --muted: oklch(0.25 0.0062 188.5965);
  --muted-foreground: oklch(0.6993 0 0);
  --accent: oklch(0.7288 0.0899 72.3686);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.7331 0.151 29.4644);
  --destructive-foreground: oklch(0.9189 0 0);
  --border: oklch(0.3216 0.0062 188.5965);
  --input: oklch(0.25 0.0062 188.5965);
  --ring: oklch(0.7288 0.0899 72.3686);
  --chart-1: oklch(0.7288 0.0899 72.3686);
  --chart-2: oklch(0.6452 0.0697 142.7849);
  --chart-3: oklch(0.1803 0.0062 188.5965);
  --chart-4: oklch(0.9189 0 0);
  --chart-5: oklch(0 0 0);
  --sidebar: oklch(0.1803 0.0062 188.5965);
  --sidebar-foreground: oklch(0.9189 0 0);
  --sidebar-primary: oklch(0.7288 0.0899 72.3686);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.25 0.0062 188.5965);
  --sidebar-accent-foreground: oklch(0.9189 0 0);
  --sidebar-border: oklch(0.3216 0.0062 188.5965);
  --sidebar-ring: oklch(0.7288 0.0899 72.3686);
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'JetBrains Mono', ui-monospace, monospace;
  --radius: 0.25rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2029 0.0062 188.5965);
  --foreground: oklch(0.9189 0 0);
  --card: oklch(0.2289 0.0062 188.5965);
  --card-foreground: oklch(0.9189 0 0);
  --popover: oklch(0.2289 0.0062 188.5965);
  --popover-foreground: oklch(0.9189 0 0);
  --primary: oklch(0.7288 0.0899 72.3686);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.25 0.0062 188.5965);
  --secondary-foreground: oklch(0.9189 0 0);
  --muted: oklch(0.25 0.0062 188.5965);
  --muted-foreground: oklch(0.6993 0 0);
  --accent: oklch(0.7288 0.0899 72.3686);
  --accent-foreground: oklch(0.9189 0 0);
  --destructive: oklch(0.7331 0.151 29.4644);
  --destructive-foreground: oklch(0.9189 0 0);
  --border: oklch(0.3216 0.0062 188.5965);
  --input: oklch(0.3216 0.0062 188.5965);
  --ring: oklch(0.7288 0.0899 72.3686);
  --chart-1: oklch(0.7288 0.0899 72.3686);
  --chart-2: oklch(0.6452 0.0697 142.7849);
  --chart-3: oklch(0.1803 0.0062 188.5965);
  --chart-4: oklch(0.9189 0 0);
  --chart-5: oklch(0 0 0);
  --sidebar: oklch(0.1803 0.0062 188.5965);
  --sidebar-foreground: oklch(0.9189 0 0);
  --sidebar-primary: oklch(0.7288 0.0899 72.3686);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.25 0.0062 188.5965);
  --sidebar-accent-foreground: oklch(0.9189 0 0);
  --sidebar-border: oklch(0.3216 0.0062 188.5965);
  --sidebar-ring: oklch(0.7288 0.0899 72.3686);
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: 'JetBrains Mono', ui-monospace, monospace;
  --radius: 0.25rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: var(--tracking-normal);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: var(--tracking-tight);
    font-weight: 600;
  }

  button,
  input,
  select,
  textarea {
    font-feature-settings: 'cv02', 'cv03', 'cv04';
  }

  code,
  pre {
    font-feature-settings:
      'liga' 0,
      'calt' 0;
  }
}

.arma-topographic-background {
  position: fixed;
  top: 0;
  left: 0;
  background-position: 80% 20%;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999;
  zoom: 1.1;
  background-image: url('/src/assets/russian-topography-bg.png');
  opacity: 0.019;
}
